.bar{
  width:370px;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  background-color:#38393b;
}

.bar-content{
  text-align:center;
  margin-left:auto !important;
  margin-right:auto !important;
}

.content{
  position:absolute;
  top:0px;
  right:370px;
  bottom:0;
  left:0;
}

.abs{position: absolute;}
.level1{z-index: 1;}
.level2{z-index: 2;}
.level3{z-index: 3;}
.level4{z-index: 4;}

.page{
  background: #f2f2f2;
}
.page:hover{
  background: #d2d2d2;
  cursor: pointer;
}

body{
  font:1em Helvetica,arial,sans-serif;
  font-family:Helvetica,arial,sans-serif;
  font-size:1em;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
}

#list ul{
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

#list ul li{
  height:40px;
  border-radius:10px;
  background-color:#E3E3E4;
  cursor:pointer;
}